<!DOCTYPE html>
<html lang="nl">
	<head>
    <meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="Leander van Baekel">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<title>Angela & Robin</title>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		{{{body}}}

		<script src="/js/main.js" charset="utf-8"></script>
	</body>

</html>
