<header>
  <h1>Bruiloft Angela & Robin</h1>
</header>

<section class="content">
  {{#each data.images}}
    <img src="/uploads/crops/{{this}}" alt="">
  {{/each}}
</section>

<footer>
  <button class="upload-button">Uploaden</button>
</footer>

<section class="popup-container hidden">
  <div class="close-button">
    X
  </div>
  <form action="/upload/create" enctype="multipart/form-data" method="post">

    <input class="file" type="file" multiple name="file" value="">

    <button type="submit" name="button">Uploaden</button>

  </form>

  <div class="preview">

  </div>
</section>
